.step{
  background-color: white;
}

body pre {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 1px;
  margin: 0;
  border: 1px solid transparent
}

@media screen{
  body pre {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 64px 8px rgba(168,191,230,0.5);
  }
}

.step div.counter {
  position: absolute;
  top: -2em;
  right: 1em;
  font-size: 16px;
  opacity: 0.3;
  width: auto;
}

.step-timer{
  position: absolute;
  width: 100px;
  text-align: center;
  left: calc(50% - 50px);
  top: 0;
  color:#FB8F19;
}

asq-canvas{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 1;
  pointer-events: all;
}

.hidden{
  display:none;
}

asq-sqlite-q{min-height: 650px; } 



@media print {

  body{
    background: transparent;
  }

  .step{
    background-color: transparent;
  }

  .print-hidden{
    display: none;
  }

  div.step.break { page-break-before: always; }
}

